<div class="footer col-sm-12">
  <div class="d-flex col-sm-10 py-5 mx-auto">
    <div class="sec1 col-sm-5">
        <h2>About us</h2>
        <p> Founded on July 2017</p>
        <p> with the objective of sharing personal history</p>
        <p> and gather a community of people around animal lovers.</p>
    </div>
    <div class="sec2 col-sm-4"><h2>Benefits</h2>
      <p>Special thread section for animal posts</p>
      <p>Section for everyone to enjoy other posts</p>
      <p>Community filled with essentric people</p>
    </div>
    <div class="sec3 col-sm-3">
      <h2>Contact Us</h2>
      <p>Email: marrytheking@lmao.com</p>
      <p>Contact: 123456789</p>
      <p>Address: Kentucky, Texas</p>
    </div>
  </div>
</div>