<div class="footer col-sm-12">
  <div class="d-flex col-sm-10 py-5 mx-auto">
    <div class="sec1 col-sm-5">
        <h2>Om oss</h2>
        <p> Brusjan Bank skapt september 2020 av gruppe 5</p>
        <p> for å skape en sikkert nettbank ved</p>
        <p>bruk av Python, HTML og SQL</p>
    </div>
    <div class="sec2 col-sm-4"><h2>Egenskaper</h2>
      <p>Skape kontoer og brukere</p>
      <p>Overføre beløp med melding</p>
      <p>Kryptering av informasjon</p>
    </div>
    <div class="sec3 col-sm-3">
      <h2>Kontakt oss</h2>
      <p>Email: Sjokomannen@gmail.com</p>
      <p>Contact: 123456789</p>
      <p>Address: UiS, Rogaland</p>
    </div>
  </div>
</div>