<div class="footer col-sm-12">
  <div class="d-flex col-sm-10 py-5 mx-auto">
    <div class="sec1 col-sm-5">
        <h2>About us</h2>
        <p> Sasha's blogpost created on July 2017</p>
        <p> with the main objective of sharing animal pictures</p>
        <p>for a creation of a better community</p>
    </div>
    <div class="sec2 col-sm-4"><h2>Benefits</h2>
      <p>Categories for different animals</p>
      <p>Liking posts and sharing them</p>
      <p>Saving posts and making your own</p>
    </div>
    <div class="sec3 col-sm-3">
      <h2>Contact Us</h2>
      <p>Email: mydreamprince@lol.com</p>
      <p>Contact: 123456789</p>
      <p>Address: Kentucky, Texas</p>
    </div>
  </div>
</div>