<div class="navbar">
  <a href="{{ url_for('dashboard') }}" class="nav-link {% if home %}active{% endif %}">Hjem</a>
  {% if not session['user'] %}
  <a href="{{ url_for('login') }}" class="nav-link {% if login %}active{% endif %}">Logg Inn</a>
  {% else %}
    {% if session['usert']=="executive" %}
      <div class="subnav">
        <button class="subnavbtn">Kundebehandling <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="{{ url_for('leggtilkunde') }}" class="nav-link {% if leggtilkunde %}active{% endif %}">Legg til kunde</a>
          <a href="{{ url_for('se_kunde') }}" class="nav-link {% if se_kunde %}active{% endif %}" >Vis kunde</a>
          <a href="{{ url_for('redigkunde') }}" class="nav-link {% if redigkunde %}active{% endif %}">Rediger kunde</a>
          <a href="{{ url_for('kundestatus') }}" class="nav-link {% if kundestatus %}active{% endif %}">Kunde status</a>


        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Kundebehandling <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="{{ url_for('leggtilkunde') }}" class="nav-link {% if leggtilkunde %}active{% endif %}">Legg til konto</a>
          <a href="{{ url_for('se_konto') }}" class="nav-link {% if se_konto %}active{% endif %}">Vis konto</a>
          <a href="{{ url_for('se_kontostatus') }}" class="nav-link {% if se_kontostatus %}active{% endif %}">Konto status</a>
        </div>
      </div>
    {% elif session['usert']=="teller" or session['usert']=="cashier" %}
      <div class="subnav">
        <button class="subnavbtn">Kundebehandling <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
          <a href="{{ url_for('se_konto') }}" class="nav-link {% if se_konto %}active{% endif %}">Vis konto</a>
          <a href="{{ url_for('statement') }}" class="nav-link {% if statement %}active{% endif %}">Kontoutskrift</a>
        </div>
      </div>
    {% endif %}
    <a href="#contact">Kontakt oss</a>
    <a href="{{ url_for('logout') }}" class="nav-link">Logg ut</a>
  {% endif %}
</div>
