{% block title %}Add Customer{% endblock %}

{% block content %}
<div class = "row mb-3">
    <div class="card">
        <div class="card-header text-center">
            <h4>Account Status</h4>
        </div>
        <div class="card-body">
            {% if data %}
            <table class="table">
                <thead>
                  <tr>
                    <th> Kunde-ID</th>
                    <th> Konto-ID</th>
                    <th> Konto type</th>
                    <th> Konto status</th>
                    <th> Melding</th>
                    <th> Sist oppdatert</th>
                    <th> Operations</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                  <tr>
                    <td> {{ i.kunde_id }}</td>
                    <td>  {{ i.bruker_id }}</td>
                    <td> {{ i.bruker_type }}</td>
                    <td>   {{ i.status }}</td>
                    <td>   {{ i.melding }}</td>
                    <td>   {{ i.last_update }}</td>
                    <td><a href="javaScript:void(0)" class="refresh_acc" data-bruker_id={{ i.bruker_id }}>Refresh</a></td>
                  </tr>
                
                    
                  {%endfor%}
                  
                </tbody>
              </table>
            
            </div>
            <div class="row">
              <div class="form-group col-md-12 text-center">
                  <div class="float-right">
                      <a href="{{ url_for('kontostatus') }}">
                          <button class="btn">Oppdater listen</button>
                      </a>
                  </div>
              </div>
          </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}