{% block title %}Overfør beløp{% endblock %}

{% block content %}
<div class = "row col-md-8 my-5">
    <div class="card col-md-8 mx-auto px-0">
        <div class="card-header">
            Overfør beløp
        </div>
        <div class="card-body">
            {% if kunde_id %}
            <form action="{{ url_for('overfor', kunde_id=kunde_id) }}" method="POST">
                <table class="col-md-12">
                    <tbody>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Customer ID</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">{{ kunde_id }}</label>
                                </div>
                                
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Kildekontotype</label>
                                </div>
                                
                            </th>
                            <th>
                                <div class="form-group input-group pl-3">
                                    <select class="form-control sel_type" id="src_type" name="src_type">
                                        <option value="" disabled>--Velg Type--</option>
                                        <option value="navaerende">Nåværende</option>
                                        <option value="besparelser">Besparelser</option>
                                    </select>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Målkontotype</label>
                                </div>
                                
                            </th>
                            <th>
                                <div class="form-group input-group pl-3">
                                    <select class="form-control sel_type" id="til_data" name="til_data">
                                        <option value="" disabled>--Velg Type--</option>
                                        <option value="navaerende">Nåværende</option>
                                        <option value="besparelser">Besparelser</option>
                                    </select>
                                </div>
                                
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Overfør beløp</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group pl-3">
                                    <input class="form-control" name="kunde_id" id="kunde_id" value="{{ kunde_id }}" type="hidden" disabled>
                                    <input class="form-control" name="belop" id="belop" type="textfield" placeholder="Overfør beløp">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <div class="form-group input-group mt-3">
                                    <input type="submit" value="submit" onclick="alert('Er du sikker, du vil overføre?')" class="btn mx-auto">
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}