{% block title %}Legg til kunde{% endblock %}

{% block content %}
<div class = "row col-md-8 my-5">
    <div class="card col-md-8 mx-auto px-0">
        <div class="card-header">
            Se kundeinformasjon
        </div>
        <div class="card-body">
            {% if data %}
            <div class="row mb-4">
                <table class="col-md-12">
                    <tbody>
                        <tr>
                            <td>
                                Kunde ID
                            </td>
                            <td>
                                {{ data.kunde_id }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                SSN ID
                            </td>
                            <td>
                                {{ data.ssn_kunde_id }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Navn
                            </td>
                            <td>
                                {{ data.navn }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Adresse
                            </td>
                            <td>
                                {{ data.adresse }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fylke
                            </td>
                            <td>
                                {{ data.fylke }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                By
                            </td>
                            <td>
                                {{ data.by }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Status
                            </td>
                            <td>
                                {{ data.status }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mb-4">
                <div class="form-group col-md-12">
                    <div class="float-left">
                        <a href="{{ url_for('redigerkunde',kunde_id=data.kunde_id ) }}">
                            <button class="btn">Rediger</button>
                        </a>
                    </div>
                    {% if data.status == 'deactivate' %}
                    <div class="float-right">
                        <a href="{{ url_for('aktiverkunde',kunde_id=data.kunde_id ) }}">
                            <button class="btn" onclick="alert('Er du sikker på at du vil aktivere denne kunden?')">Aktiver</button>
                        </a>
                    </div>
                    {% else %}
                    <div class="float-right">
                        <a href="{{ url_for('slettkunde',kunde_id=data.kunde_id ) }}">
                            <button class="btn" onclick="alert('Er du sikker på at du vil deaktivere denne kunden?')">Slett</button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {%else%}
            <form action="{{ url_for('se_kunder') }}" id="view_cust" method="POST">
                <table class="col-md-12">
                    <tbody>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="m-auto float-left" for="kunde_id">Kunde ID</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <input class="form-control" navn="kunde_id" id="kunde_id" type="textfield" placeholder="Kunde ID" maxlength="9">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <div class="form-group input-group">
                                    <label class="m-auto">or</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="m-auto float-left" for="ssn_kunde_id">Kunde SSN ID</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                   <input class="form-control" navn="ssn_kunde_id" id="ssn_kunde_id" type="textfield" placeholder="Kunde SSN ID" maxlength="9">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <div class="form-group input-group">
                                    <input type="submit" value="View" class="btn mx-auto">
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}