<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Brusjanbank</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <div class="left-side">
                        <div class="nav-link-wrapper">
                            <a href="{{ url_for('index') }}">Home</a>
                            
                        </div>
                        <div class="nav-link-wrapper">
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('profile') }}" >Profile</a>
                        {% endif %}
                        </div>
                        
                        <div class="nav-link-wrapper">
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('login') }}" >Login</a>
                            {% endif %}
                        </div>
                        <div class="nav-link-wrapper">
                            <a href="{{ url_for('signup') }}" >Sign Up</a>
                        </div>
                        
                        {% if current_user.is_authenticated %}
                        <div class="nav-link-wrapper">
                            <a href="{{ url_for('logout') }}" >Logout</a>
                        </div>
                        {% endif %}
                    <div class="mid-side">
                        <div class="nav-logo-BB">
                            <a href="#"><img src="/static/images/LOGO-med-skygge-morkere.png"></a>
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="nav-logo-LoggUt">
                        <button class="logout-btn">Logg ut</button>    
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    </body>

    </html>