<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Brusjanbank</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <div class="left-side">
                        {% if current_user.is_authenticated %}
                        <div class="nav-link-wrapper">
                            <a href="{{ url_for('index') }}">Home</a>
                        </div>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <div class="nav-link-wrapper">
                            <a href="{{ url_for('main.profile') }}" >Profile</a>
                        </div>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <div class="nav-link-wrapper">
                            <a href="{{ url_for('overview') }}" >Oversikt</a>
                        </div>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <div class="nav-link-wrapper">   
                            <a href="{{ url_for('auth.login') }}" >Login</a>
                        </div>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <div class="nav-link-wrapper">
                            <a href="{{ url_for('auth.signup') }}" >Sign Up</a>
                        </div>
                        {% endif %} 
                        
                    <div class="mid-side">
                        <div class="nav-logo-BB">
                            <img src="/static/images/LOGO-med-skygge-morkere.png">
                        </div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="nav-logo-LoggUt">
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}"><button class="logout-btn">Logg ut</button></a>
                        {% endif %}    
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <!-- Kontaktinformasjonen til banken -->
            <p> Kontakt oss: <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">DuErEnKødd@mail.no</a></p>
            <p> Eller ring oss på tlf: 12345678 </p>
            <p> For mer hjelp, trykk inn <a href="Support.html">HER</a>.</p>
    
    </footer>
    </body>
    </html>