<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}



<div id="register-container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
    <div class="register-container">
        <h1>Logg inn</h1>
        <hr>
        <form method="POST" action="/login" >
            <div class="register-row">
                <div class="register-input">
                    <label for="email"><b>Email</b></label>
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>

                <div class="register-input">
                    <label for="password"><b>Passord</b></label>
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            <button class="registerbtn">Login</button>
    </div>
</div>





{% endblock %}