
{% extends "base.html" %}

{% block content %}

<div id="register-container">

    <form method="POST" action="/signup">
        <div style="text-align: center;">
                {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
        </div>
    {% endif %}
    {% endwith %}
          <h1>Registrer</h1>
          <p>Vennligst fyll inn skjemaet for å lage kontoen.</p>
          <hr>
        </div>
        <div class="register-container">
            <div class="register-row">
                <div class="register-input">
                <label for="fornavn"><b>Fornavn</b></label>
                <input type="text" placeholder="Fornavn" name="fornavn" id="fornavn" required>
                </div>
                <div class="register-input">
                <label for="etternavn"><b>Etternavn</b></label>
                <input type="text" placeholder="Etternavn" name="etternavn" id="etternavn" required>
                </div>
            </div>
            <div class="register-row">
                <div class="register-input">
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Email@mail.no" name="email" id="email" required>
                </div>
                <div class="register-input">
                <label for="postAddresse"><b>Post Addresse</b></label>
                <input type="text" placeholder="Stavangerveien 3" name="postAddresse" id="postAddresse" required>
                </div>
            </div>
            <div class="register-row">
                <div class="register-input">
                <label for="postKode"><b>Post Kode</b></label>
                <input type="text" placeholder="Postkode" name="postKode" id="postKode" required>
                </div>
                <div class="register-input">
                <label for="fylke"><b>Fylke</b></label>
                <input type="text" placeholder="Rogaland" name="fylke" id="fylke" required>
                </div>
            </div>
            <div class="register-row">
                <div class="register-input">
                <label for="kjonn"><b>Kjønn</b></label>
                <input type="text" placeholder="Vaskemaskin" name="Kjonn" id="Kjonn" required>
                </div>
                <div class="register-input">
                <label for="fodselsdato"><b>Fødselsdato</b></label>
                <input type="text" placeholder="dd.mm.yyyy" name="Fodselsdato" id="Fodselsdato" required>
                </div>
            </div>
            <div class="register-row">
                <div class="register-input">
                <label for="psw"><b>Passord</b></label>
                <input type="password" placeholder="Skriv Passord" name="psw" id="psw" required>
                </div>
                <div class="register-input">
                <label for="psw-repeat"><b>Gjenta Passord</b></label>
                <input type="password" placeholder="Gjenta Passord" name="psw-repeat" id="psw-repeat" required>
                </div>
            </div>
        </div> 
        <div style="text-align: center;">
                <hr>
              <p>Ved å lage en konto, så godtar du våre <a href="#">Brukervilkår</a>.</p>
              <input type="checkbox" id="Husk-meg" name="Husk-meg" value="Husk-meg">
                <label for="Husk-meg"> Hold meg Innlogget</label>
        </div>
              <button type="submit" class="registerbtn">Registrer</button>

          </form> 
    </div>





{% endblock %}