
{% extends "base.html" %}

{% block content %}


    <main>
        <div id="container">
            <div class="sub-container"> 
                <h1 id="overskriftsub">Ofte Stilte Spørsmål</h1>
                <ol class="faq">
                    <div class="supptab">
                        <li>
                            <a href="#link1">Hvordan lage nytt personlig passord?</a>
                            <div id="link1">
                                <h4>Gå til profil og velg "Endre Passord"</h4>
                              </div>
                        </li>
                        <li>
                            <a href="#link2">Hvordan sperre og bestille kort?</a>
                            <div id="link2">
                                <h4>Du kan enkelt sperre og<br>
                                    bestille nytt kort under konto </h4>
                              </div>
                        </li>
                        <li>
                            <a href="#link3">Hvor finner jeg kontoen min?</a>
                            <div id="link3">
                                <h4>Du finner den under konto...</h4>
                              </div>
                        </li>
                    </div>
                </ol>
                <img src="images/suppbilde.png" alt="" width="300" height="300">
            </div>
                <div class="sub-container">
                    <div id="suppinput">
                    <h1 style="text-align: center;">Hjelp og Kundeservice</h1>
                    
                        <form method="POST" action="/support">
                    
                        <label for="fname">Fornavn</label>
                        <input type="text" id="fname" name="firstname" placeholder="Ditt navn">
                    
                        <label for="lname">Etternavn</label>
                        <input type="text" id="lname" name="lastname" placeholder="Ditt Etternavn">
                    
                        <label for="Kategori">Kategori</label>
                        <select id="Kategori" name="Kategori">
                            <option value="Overføring">Overføring</option>
                            <option value="Login">Login</option>
                            <option value="Lån">Lån</option>
                            <option value="Konto">Konto</option>
                        </select>
                    
                        <label for="subject">Emne</label>
                        <textarea id="subject" name="subject" placeholder="Hva kan vi hjelpe med?" style="height:200px"></textarea>
                    
                        <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
        </div>
    </main>


    {% endblock content %}