/* main layout for nettside */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
header{
    height: 80px;
    position: fixed;
    background-color: #324154;
    width: 100%;
    z-index: 50; /*høy*/
}

main{
    margin-bottom: -130px;
    min-height: 100%;
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    */
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:0;
    padding-top: 80px;
    padding-bottom: 100px;
}
.push{
    height: 120px;
}
footer{
    color: black;
    height: 120px;
    z-index: 40; /* nokså høy*/
    text-align: center;
    background-color: #ecf2f7 ;
    padding-top: 5px;
}
footer a{
    color: black;
}
.nav-logo{
    margin: -30px;
    text-align: center;
}
.nav-logo img{
    width: 100px;
    margin: 15px 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 30%;
}

/* Background styles */

html,body{
    height: 100%;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}


.Background{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)); 
    background-size: cover;
    background-position: center;
    position: absolute;  
}

/* Master styles */
.sub-container{
    position: relative;
    z-index: 2;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}


.nav-wrapper{
    display:flex;
    justify-content: space-between;
    padding: 30px
}

.left-side{
    display:flex;

}

/* White registry box */

.Registry-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}


/* button box and properties */

.button-box{

    width: 240px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.Actual-button{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}


.DnBlogo{
    margin: 30px auto;
    text-align: center;
}

.DnBlogo img{
    width: 100px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 30%;
}


#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 130px;
    height: 100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-button{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
} 


/* The message box is shown when the user clicks on the password field */
#message {
    width: 200px;
    height: 250px;
    display:none;
    background-color: #fff;
    position: relative;
    top: -400px;
    right: -300px;
    padding: 5px;
    margin: .5% auto;
    
  }


#message p {
    padding: 10px 35px;
    font-size: 10px;
  }

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
  }

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
  }
  
.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }

/*Requirement text properties */
.Requirements{
    color: black;
}




/* Nav styles */


.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: grey;
}

/* OVERSIKT */

.oversikt-container {
    display:flex;
    border-color: white white rgb(49, 49, 187) white;
    color: rgb(37, 37, 37);
    text-align: center;
    margin-top: 100px;
    border-style: solid;
    height: 50px;
    width: 250px;
}

.info-container {
    background: white;
}

.info-container a{
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}
.info-container a:hover {
    color: rgb(63, 40, 66);
}


h1 {
    font-size: 1.4em;
}

h2 {
    border-color: white white white rgb(94, 94, 139);
    border-style: solid;
    margin-left: 20px;
    padding-left: 5px;
    font-size: 1.2em;
    color: rgb(75, 74, 74);
}

h3 {
    margin-left: 40px;
    margin-top: -10px;
    padding-bottom: 20px;
    font-size: em;
    color: rgb(127, 137, 146);
}



/* ole fuck off me denne css koden takk */
ol { list-style-type: none; }
ol.faq  { padding-left: 0; }


ol.faq > li:before {
    content: "Question:";
    color: red;
}

ol.faq > li > ol > li:before {
    content: "Answer: ";
    color: green;
}


/* Style inputs with type="text", select elements and textareas */
.sub-container input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
.sub-container input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
.sub-container input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
