/* main layout for nettside */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
header{
    height: 80px;
    position: fixed;
    background-color: #324154;
    width: 100%;
    z-index: 50; /*høy*/
}

main{
    padding-bottom: 100px;
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    */
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:0;
    padding-top: 80px;
    padding-bottom: 70px;
}

footer{
    color: black;
    height: 120px;
    z-index: 40; /* nokså høy*/
    text-align: center;
    background-color: #ecf2f7 ;
    padding-top: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer a{
    color: black;
}
.nav-logo{
    margin: -30px;
    text-align: center;
}
.nav-logo-BB{
    margin-top: -20px;
    position: relative;
    left: -150%;
    /*margin-left: -200px;*/
}
.nav-logo-BB img{
    width: 100px;
}

.nav-logo-LoggUt{
    margin-top: -17px;
}

.logout-btn {
    text-transform: uppercase;
    font-family: 'Calibri', sans-serif;
    background: #324154;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 1rem;
    border: 2px solid;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    min-width: 100px;
  }

  .logout-btn:hover {
    background: #475f83;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 10px #c4d8e7;
  }
  .logout-btn:hover::after {
    opacity: 1;
    transition: all 0.5s;
  }

/* Konto siden*/
.tabell-scroll{
    height: 400px;
    overflow: auto;
}
#konto-container{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 80px;
}
.konto-overskrift{
    text-align: center;
    border-bottom: #50698a 2px solid;
    padding-bottom: 50px;
    padding-top: 50px;
}
.konto-tabell{
    margin-top: 100px;
}
.transaksjoner{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    table-layout: fixed;
}
.transaksjoner td{
    padding: 8px;
}
.transaksjoner tr:nth-child(even){
    background-color: #f2f2f2;
}

.transaksjoner th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #324154;
    border: none;
    
}
.transaksjoner th a{
    color: white;
    text-decoration: none;
}


.saldo-visning{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    table-layout: fixed;
}
.saldo-visning tr{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #50698a;
    color: white;    
}
.saldo-visning td{
    padding: 8px;
}
/* Background styles */

html,body{
    height: 100%;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.Background{
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 150px;
}

.bakgrunnsbilde img{
    height: 100%;
    width: 100%;
    opacity: 0.85;
    position: fixed;
    background-size: contain;
}

#background-image img{
    opacity: 0.5;
}

/* Master styles */
.sub-container{
    position: relative;
    z-index: 2;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}


.nav-wrapper{
    display:flex;
    justify-content: space-between;
    padding: 30px;
}

.left-side{
    display:flex;

}

/*Registrer-siden
https://www.w3schools.com/howto/howto_css_register_form.asp
*/

#register-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:0;
    padding-top: 80px;
    padding-bottom: 70px;
}
#register-container form{
    max-width: 50%;
}


/* Add padding to containers */
.signin {
    padding: 15px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 95%;
    padding: 15px 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #324154;
    margin-bottom: 25px;
    width: 100%;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #324154;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
  }
  
  /* Add a blue text color to links */
  #register-container a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }













/* White registry box */
.Registry-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}


/* button box and properties */

.button-box{

    width: 240px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 0px #69788b;
    border-radius: 30px;
}

.Actual-button{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}


.DnBlogo{
    margin: 30px auto;
    text-align: center;
}

.DnBlogo img{
    width: 100px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 30%;
}


#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 130px;
    height: 100%;
    background: linear-gradient(to right, #324154,#ecf2f7);
    border-radius: 30px;
    transition: .5s;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-button{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #324154,#ecf2f7);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
} 


/* The message box is shown when the user clicks on the password field */
#message {
    width: 200px;
    height: 250px;
    display:none;
    background-color: #fff;
    position: relative;
    top: -400px;
    right: -300px;
    padding: 5px;
    margin: .5% auto;
    
  }
#message p {
    padding: 10px 35px;
    font-size: 10px;
  }

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
  }

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
  }
  
.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }

/*Requirement text properties */
.Requirements{
    color: black;
}

/* Nav styles */

.nav-wrapper > .right-side > div {
    margin-left: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: grey;
}

/* OVERSIKT */

.oversikt-container {
    display: flex;
    border-color: white white #324154 white;
    border-style: solid;
    color: rgb(37, 37, 37);
    text-align: center;
    margin-top: 100px;
    height: 50px;
    width: 250px;
}

.oversikt-container i {
    padding-right: 5px;
}

.info-container {
    background: white;
    border-color: white white #324154 white;
    border-style: solid;
    border-width: .01em;
}

.info-container a{
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}


.oversikt-container i {
    color: #324154;
    position: relative;
    top: 4px;
}

.oversikt-container h1 {
    font-size: 1.4em;
}

.info-container h2 {
    font-size: 1.2em;
    color: rgb(75, 74, 74);
}

.info-container h3 {
    margin-left: 40px;
    margin-top: -10px;
    font-size: .9em;
    color: rgb(127, 137, 146);
}

.fa-chevron-right {
    color: #324154;
    position: relative;
    left: 225px;
    top: 15px;
    margin-top: -100px;
}

.fa-plus-circle {
    padding-right: 10px;
    margin-left: 12px;
}

/* BETALING */

/* ole fuck off me denne css koden takk */
.supptab h4{
    padding-top: 10px;;
    margin-left: 0;
    word-break: break-all;
}
.supptab a{
    text-decoration: none;
}

.supptab div {
    display: none;
  }
  
  .supptab div:target {
    display: block;
  }
.supptab ol {
    list-style-type: circle; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 10em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
  }

  ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
  }
  .faq a{
    position: relative;
    display: flex;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #324154;
    color: #fff;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
  }
  .faq a:hover{
    background: #eee;
    color: #808080;
  }
  .faq a::before{
    counter-increment: section;
    content: "Q";
    position: absolute;
    left: -1.3em;
    top: 40%;
    margin-top: -1.3em;
    background: #324154;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
  }

/* Style inputs with type="text", select elements and textareas */
.sub-container input[type=text], select, textarea {
    text-align: center;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
.sub-container input[type=submit] {
    background-color: #324154;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #kategori {
      margin-left: 50%;
  }
  /* When moving the mouse over the submit button, add a darker green color */
.sub-container input[type=submit]:hover {
    background-color: #262d36;
  }
  /* Add a background color and some padding around the form */
#suppinput {
      margin-left: 25%;
      text-align: center;
  }
#suppinput h1 {
    border-bottom: #50698a 2px solid;
    padding-bottom: 40px;
}
#overskriftsub{
    border-bottom: #50698a 2px solid;
    padding-bottom: 40px;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  select {
    color: #8E8E8E;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}
