{% extends "layout.html" %}

{% block content %}
<div id="konto-container">
    <!-- Overskrift -->
    <div class="konto-overskrift">
        <div>
            <h1>Transaksjons Rapport</h1>
        </div>
        <div>
            <h4>Viser transaksjoner for konto: Daglig Bruk</h4>
        </div>
    </div>
    <!-- Tabell for transaksjonene -->
    <div class="konto-tabell">
        <table class="transaksjoner">
            <!-- Kunne trykke på th og sortere -->
            <tr>
                <th><a href="#">Konto </a></th>
                <th><a href="#">Transaksjons Type</a></th>
                <th><a href="#">Dato</a></th>
                <th><a href="#">Mengde</a></th>
                <th><a href="#">Saldo</a></th>
            </tr>
        </table>
        <div class="tabell-scroll">
        <table class="transaksjoner">
            <tr><td>{{ g.user.username }}</td><td> {{ g.user.dato }}</td> <td> {{ g.user.saldo }}</td></tr>
        </table>
    </div>                
        <table class="saldo-visning">
            <tr>
                <td colspan="3"></td>
                <td>Saldo</td>
                <td>Kr 47 500.00</td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}