<!DOCTYPE html>
<html>
<head>
    <!-- Profil til brukerne på nettsiden -->
    <meta charset ="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <main>

        <div id="konto-container">
                    <!-- Overskrift -->
                <div class="konto-overskrift">
                        <div>
                            <h1>Transaksjons Rapport</h1>
                        </div>
                        <div>
                            <h4>Viser transaksjoner for konto: Daglig Bruk</h4>
                        </div>
                </div>


                <div class="konto-tabell">
                    <table class="transaksjoner">
                        <tr>
                            <th><a href="#">Konto </a></th>
                            <th><a href="#">Dato</a></th>
                            <th><a href="#">Saldo</a></th>
                        </tr>
                    </table>
                    <div class="tabell-scroll">
                    <table class="transaksjoner">
                        <tr><td>{{ g.user.username }}</td><td> xx</td> <td> {{ g.user.saldo }}</td></tr>
                    </table>
                    </div>
                </div>
        </div>
    </main>
</body>
</html>