{% extends "layout.html" %}

{% block content %}
<div id="container">
    <!-- -->
    <div class="sub-container">
        <div class="oversikt-container">
            <h1><i class="fas fa-exchange-alt"></i>OVERFØRE</h1>
        </div>
        <!-- -->
        <form method="POST">
            <div class="info-container">
                <label for="fra_konto"><h2>Fra konto</h2></label>
                <select name="fra_konto" id="fra_konto">
                    {% for konto in g.user.kontoer %}
                    <option value="{{ konto.id }}"> {{ konto.name }}: {{ konto.saldo }} kr</option>
                    {% endfor %}
                </select>
            </div>
            <!-- -->
            <div class="info-container">
                <label for="til_konto"><h2>Til konto</h2></label>
                <select name="til_konto" id="til_konto">
                    {% for konto in g.user.kontoer %}
                    <option value="{{ konto.id }}">{{ konto.name }}: {{ konto.saldo }} kr</option>
                    {% endfor %}
                </select>
            </div>
            <!-- -->
            <div class="info-container">
                <label for="psum"><h2>Sum<input type="psum" id="psum" name="pengesum" placeholder="kr"></h2></label>
            </div>
            <!-- -->
            <div class="button-container">
                <button type="submit" name="btn" value="overfør">OVERFØR</button>
            </div>
        </form>
    </div>
    <!-- -->
    <div class="sub-container">
        <div class="oversikt-container">
            <h1><i class="fas fa-money-check"></i>BETALE</h1>
        </div>
        <!-- -->
        <form method="POST">
            <div class="info-container">
                <label for="fra_konto_bet"><h2>Fra konto</h2></label>
                <select name="fra_konto_bet" id="fra_konto_bet">
                    {% for konto in g.user.kontoer %}
                    <option value="{{ konto.id }}"> {{ konto.name }}: {{ konto.saldo }} kr</option>
                    {% endfor %}
                </select>
            </div>
            <!-- -->
            <div class="info-container">
                <label for="til_konto_bet"><h2>Til konto<input type="kontonr" id="kontonr" name="til_konto_bet" placeholder="Kontonummer"></h2></label>
            </div>
            <!-- -->
            <div class="info-container">
                <label for="psum"><h2>Sum<input type="psum" id="psum" name="pengesum2" placeholder="kr"></h2></label>
            </div>
            <!-- -->
            <div class="button-container">
                <button type="submit" name="btn" value="betal">BETAL</button>
            </div>
        </form>
    </div>
    <!-- -->
</div>
{% endblock content %}