.konto-tabell{
    margin-top: 100px;
}
.transaksjoner{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    table-layout: fixed;
}
.tabell-scroll{
    height: 400px;
    overflow: auto;
}
#konto-container{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 80px;
}
.konto-overskrift{
    text-align: center;
    border-bottom: #50698a 2px solid;
    padding-bottom: 50px;
    padding-top: 50px;
}
.konto-tabell{
    margin-top: 100px;
}
.transaksjoner{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    table-layout: fixed;
}
.transaksjoner td{
    padding: 8px;
}
.transaksjoner tr:nth-child(even){
    background-color: #f2f2f2;
}

.transaksjoner th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #324154;
    border: none;
    
}
.transaksjoner th a{
    color: white;
    text-decoration: none;
}


.saldo-visning{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    table-layout: fixed;
}
.saldo-visning tr{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #50698a;
    color: white;    
}
.saldo-visning td{
    padding: 8px;
}