{% extends "base.html" %}
{% block title %}User{% endblock %}

<p>Velkommen, {{user}}</p>
{% block content %}
<div id="profil-container">
    
    <div class="profil-venstre">
        <div class="profil-bilde">
            <img src="/static/images/erna.png">
            <a href="#"><i class="material-icons settings-icon">add_a_photo</i></a>
            <p>Hei, {{ g.user.username }}!</p>
        </div>
        <div class="profil-konto">
            <h1>Kontoer</h1>
            {% for konto in g.user.kontoer %}
                <div class="info-container">
                    <a href={{url_for('account', account_id=konto.id)}}>
                        <h2><i class='fas fa-chevron-right'></i>{{ konto.name }}</h2>
                        <h3>{{ konto.saldo }} kr</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="profil-høyre">
        <div class="profil-informasjon">
            <h1>Generell informasjon <a href="#"><i class="material-icons settings-icon">settings</i></a></h1>
        </div>
        <div class="profil-mail">
            <h1>Email addresse<a href="#"><i class="material-icons settings-icon">settings</i></a></h1>
        </div>
        <div class="profil-mobil">
            <h1>Mobil<a href="#"><i class="material-icons settings-icon">settings</i></a></h1>
        </div>
        <div class="profil-sikkerhet">
            <h1>Sikkerhet<a href="#"><i class="material-icons settings-icon">settings</i></a></h1>
        </div>
    </div>
    <form action="#" method="POST">
        <input type="email" name="email" placeholder="Enter Email" value="{{email if email}}"/>
        <input type="sumbit" value="sumbit"/>
    </form>
</div>
{% endblock content %}