{% block title %}Rediger kunde{% endblock %}

{% block content %}
<div class = "row col-md-8 my-5">
    <div class="card col-md-8 mx-auto px-0">
        <div class="card-header">
            Rediger kundedetaljer
        </div>
        <div class="card-body">
            <form action="{{ url_for('redigerkunde',cust_id=data.cust_id) }}" method="POST">
                <table class="col-md-12">
                    <tbody>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Kunde SSN ID</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.cust_ssn_id }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Kunde ID</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.cust_id }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Forrige navn</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.navn }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3" for="navn">Nytt navn</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group pl-3">
                                   <input class="form-control" name="navn" id="navn" type="textfield" placeholder="Nytt navn" required maxlength="50">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Forrige Adresse</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.adresse }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3" for="adresse">Nytt adresse</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group pl-3">
                                   <input class="form-control" name="adresse" id="adresse" type="textfield" placeholder="New adresse" maxlength="100">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <div class="form-group input-group mt-3">
                                    <input type="submit" value="Rediger" onclick="alert('Er du sikker på at du vil redigere kundeinformasjonen?')" class="btn mx-auto">
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}