{% extends "layout.html" %}

{% block title %}Hjemmeside{% endblock %}
{% block content %}

<main role="main">
  <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
          <h1>Velkommen</h1>
          <p style="color: black;"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante dolor, pharetra in ipsum maximus, consequat scelerisque velit. Maecenas eget congue nulla, sed elementum urna. Integer commodo lacus eget suscipit maximus. Aenean accumsan nibh eget risus malesuada vehicula. Nullam metus dolor, dapibus eu ligula id, venenatis finibus purus. Nulla facilisi. Mauris pellentesque pretium luctus. Fusce pretium leo at luctus auctor. Aenean malesuada consectetur ipsum in blandit. Cras fermentum tellus quis nulla aliquet, eu ultrices lorem pulvinar. Donec ac neque sem. Suspendisse potenti. Donec efficitur euismod justo a interdum. Aenean nec ornare massa. Vivamus a justo quis massa varius ornare.</b></p>
      </div>
  </div>
</main>



{% endblock %}
