{% extends "layout.html" %}

{% block title %}Kunde Status{% endblock %}

{% block content %}
<div class = "row my-5">
    <div class="card col-md-12 mx-auto px-0">
        <div class="card-header">
            Kunde Status
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <table id="responsive-data-table" class="col-md-12">
                    <thead>
                        <tr>
                            <td>Kunde ID</td>
                            <td>Kunde SSN ID</td>
                            <td>Melding</td>
                            <td>Sist Oppdatert</td>
                            <td>Operasjoner</td>
                            <td>Se profil</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr>
                            <td>
                                {{ i.id }}
                            </td>
                            <td>
                                {{ i.ssn_id }}
                            </td>
                            <td>
                                {{ i.message }}
                            </td>
                            <td>
                                {{ i.date }}
                            </td>
                            <td>
                                <a href="javaScript:void(0)" class="refresh_cust" data-kunde_id={{ i.id }}>
                                    Refresh
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('se_kunde',kunde_id= i.id) }}">
                                    Se detaljer
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row mb-4">
                <div class="form-group col-md-12">
                    <div class="float-right">
                        <a href="{{ url_for('kundestatus') }}">
                            <button class="btn">Refresh alt</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}