
{% extends "layout.html" %}

{% block title %}Logg inn{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login1.css') }}">
<div class="container">
<div class="d-flex justify-content-center h-100">
   
 <div class="card">
     <div class="card-header">
         <h3>Logg inn</h3>
        
     </div>
     <div class="card-body">
          <form action="{{ url_for('login') }}" method="post">
             <div class="input-group form-group">
                 <div class="input-group-prepend">
                     <span class="input-group-text"><i class="fas fa-user"></i></span>
                 </div>
                <input class="form-control" name="email" type="text" placeholder="Email" required maxlength="30" style="height: 37px;">
                 
             </div>
             <div class="input-group form-group">
                 <div class="input-group-prepend">
                     <span class="input-group-text"><i class="fas fa-key"></i></span>
                 </div>
                  <input class="form-control" name="password" type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{10,}$" placeholder="Passord" required maxlength="30" id="passwordInput" style="height: 37px;">

             </div>
             <div style="padding-left: 15px;color: white;">
               <input type="checkbox" id="showPass">&nbsp;Vis passord
             </div>
            
             <div class="form-group">
                 <input type="submit" value="Logg inn" class="btn float-right login_btn">
             </div>
             <br>

         </form>
    
     {% with messages = get_flashed_messages(category_filter=["greet"]) %}
               {% if messages %}
         
               <div class="alert">
                 {% for message in messages %}
                 <p style="color: red;">{{message}}</p>
                 {% endfor %}
                
               </div>
               
                 {% endif %}
             {% endwith %}
     </div>

 </div>
</div>
</div>
{% endblock %}