{% extends "layout.html" %}

{% block title %}Rediger kunde{% endblock %}

{% block content %}
<div class = "row col-md-8 my-5">
    <div class="card col-md-8 mx-auto px-0">
        <div class="card-header">
            Rediger kunde-ID
        </div>
        <div class="card-body">
            <form action="{{ url_for('redigkunde',kunde_id=data.kunde_id) }}" method="POST">
                <table class="col-md-12">
                    <tbody>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Kunde SSN-ID</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.ssn_kunde_id }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Kunde-ID</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.kunde_id }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Forrige navn</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.name }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3" for="name">Nytt navn</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group pl-3">
                                   <input class="form-control" name="name" id="name" type="textfield" placeholder="Nytt navn" required maxlength="50">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Forrige adresse</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.adresse }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3" for="adresse">Nytt adresse</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group pl-3">
                                   <input class="form-control" name="adresse" id="adresse" type="textfield" placeholder="Nytt adresse" maxlength="100">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Forrige Alder</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.age }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3" for="age">Forrige Alder</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group pl-3">
                                   <input class="form-control" name="age" id="age" type="textfield" placeholder="Nytt alder" maxlength="3">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <div class="form-group input-group mt-3">
                                    <input type="submit" value="Edit" onclick="alert('Er du sikker du vil redigere denne kunden?')" class="btn mx-auto">
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}