{% extends "layout.html" %}

{% block title %}Utskrift{% endblock %}

{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>

        {% if data %}
<div class="container-fluid">
    <div class="row">
        <div class="input col-md-1 col-xs-2">
            <select class="form-control" name="state" id="maxRows" style="margin-bottom: 10px;height: auto;width: auto;">
                <option value="5">5</option>
                <option value="10">10</option>
               
            </select>
        </div>
    </div>
    
    <div class="row col-md-12 col-xs-12">
        <div class="table-responsive">
            <h3 style="text-align: center;">Kontoutskrift</h3>
            <table class="table table-striped table-hover table-condensed table-bordered" id="Tabla">
                <thead>
                <tr class="info">

                        <th> Transaksjon ID</th>
                        <th> Beskrivelse</th>
                        <th> Dato</th>
                        <th> Beløp</th>
                      
                </tr>
                </thead>
                <tbody id="TablaFamilias">
                    {% for i in data %}
                    <tr>
                      <td>  {{ i.trans_id }}</td>
                      <td> {{ i.trans_melding }}</td>
                      <td>   {{ i.time_stamp }}</td>
                      <td>   {{ i.belop }}</td>
                    </tr>              
                    {%endfor%}
    
                </tbody>
             
                <tfoot></tfoot>
            </table>
    
            <div>
                <nav>
                    <ul class="pagination"></ul>
                </nav>
            </div>
          <div class="center">
            <a href="{{ url_for('pdf_xl_statement',konto_id=konto_id ) }}">
              <button class="btn">Last ned som PDF</button>
            </a>
            <a href="{{ url_for('pdf_xl_statement',konto_id=konto_id, ftype='xl' ) }}">
              <button class="btn">Last ned som XL</button>
            </a>
          </div>
        </div>
    </div>
</div>
{%else%}
      <form action="statement" id="view_acc" method="POST">
        <div class="form-group input-group mb-3">
            <label class="m-auto pr-3" for="konto_id">Konto ID</label>
           <input class="form-control" name="konto_id" id="konto_id" type="textfield" placeholder="Konto ID" minlength="9" maxlength="9">
        </div>
        <div class="form-group input-group mb-3">
            <label><input type="radio" name="Radio" value="red">Sist transaksjon</label></br>
            <label><input type="radio" name="Radio" value="green">Star dato, slutt dato</label>

        </div>
        <div class="red box" style="display: none;">
            <label class="m-auto pr-3" for="number"> Sist antall transaksjoner</label>
            <input class="form-control" name="number" id="number" type="number" placeholder="Antall transaksjoner" maxlength="3">
          
        </div>
        <div class="green box" style="display: none;">
            <label for="start_date">Start dato:</label>
            <input type="date" id="start_date" name="start_date">
             <label for="end_date">Slutt dato:</label>
            <input type="date" id="end_date" name="end_date">
      
        </div>
    
      
     
        <div class="form-group">
            <input type="submit" value="Bekreft" class="btn">
        </div>
    </form>
{% endif %}
        <script>
            $(document).ready(function () {
  getPagination('#Tabla');
  $('#maxRows option:last').prop('selected', true).trigger('change');
});

function getPagination(table) {

  $('#maxRows').on('change', function(e) {
    $('.pagination').html(''); 
    var trnum = 0; 
    var maxRows = parseInt($(this).val()); 
    var totalRows = $(table + ' tbody tr').length; 
    $(table + ' tr:gt(0)').each(function() { 
      trnum++; 
      if (trnum > maxRows) { 

        $(this).hide(); 
      }
      if (trnum <= maxRows) {
        $(this).show();
      } 
    }); 
    if (totalRows > maxRows) {
      var pagenum = Math.ceil(totalRows / maxRows); 
      for (var i = 1; i <= pagenum;) { 
        $('.pagination').append('<li class"wp" data-page="' + i + '">\
<span>' + i++ + '<span class="sr-only">(current)</span></span>\
</li>').show();
      } 
    } 
    $('.pagination li:first-child').addClass('active');
    $('.pagination li').on('click', function() { 
      var pageNum = $(this).attr('data-page'); 
      var trIndex = 0; 
      $('.pagination li').removeClass('active'); 
      $(this).addClass('active'); 
      $(table + ' tr:gt(0)').each(function() { 
        trIndex++; 
        if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
          $(this).hide();
        } else {
          $(this).show();
        }
      }); 
    }); 


  });

}

$(function() {
    $('input[name="Transactions"]').on('click', function() {
        if ($(this).val() == 'Transactions') {
            $('#textboxes').show();
        }
        else if ($(this).val() == 'Dates') {
            $('#dates').show();
        }
        else {
            $('#textboxes').hide();
        }
    });
});

$(document).ready(function(){
    $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
    });
});
     </script>
    </body>
</html>
 
{% endblock %}